@charset "UTF-8";

/*
 * "Fenix" is lisenced under the SIL Open Font Lisence 1.1
 * http://www.google.com/fonts/specimen/Fenix
 */
@import url(http://fonts.googleapis.com/css?family=Fenix);

             
@font-face {
  font-family:'mplus-2c-light';
  src: url('../fonts/mplus-2c-light-sub.eot') format('eot');
  src: url('../fonts/mplus-2c-light-sub.woff') format('woff');
  src: url('../fonts/mplus-2c-light-sub.ttf') format('truetype');
}

h2 {
    font: 2.5em Fenix;
}

a {
    text-decoration: none;
    color: #47585c;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f8fbf8;
}

header {
    background: #d3d3d3 url("../img/header.png") no-repeat local top;
    overflow: hidden;
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
}

header h1 {
    width: 800px;
    height: 100px;
    text-align: center;
    margin: 0 auto 0;
    padding: 0;
    font: 4em Fenix;
    color: white;
    line-height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
}

header h1 img {
    margin: 0;
    padding: 0;
}

nav ul {
    display: table;
    width: 780px;p
    height: 1.5em;
    margin: 0.5em 0;
    padding: 1em 0;
}

nav li {
    display: table-cell;
    text-align: center;
    width: 110px;
}

nav li a {
    color: #2a2a2a;
    font-family: Meiryo, 'mplus-2c-light';
    font-size: 1em;
}

nav li.here {
    border-bottom: 2px solid #006e54;
}

nav li.here a {
    color: #006e54;
}

nav#submenu ul {
    margin-top: -20px;
}

nav#submenu li {
    width: 200px;
    line-height: 1.5em;
}

nav#submenu li.here {
    background-color: #2a2a2a;
    border: none;
}

nav#submenu li.here a {
    color: #f3f3f3;
}

#main {
    width: 800px;
    margin: auto;
}

.multicolumn {
    width: 100%;
    display: table;
    margin: 1em 0;
    vertical-align: middle;
}

.multicolumn .picture {
    display: table-cell;
    vertical-align: middle;
}

.multicolumn section {
    display: table-cell;
    padding: 1em;
    vertical-align: middle;
}

.question {
    font-weight: bold;
}

p.copyright {
    display: block;
    margin: 4em 0 -1em;
    padding: 1em 1em 2em;
    background: #2a2a2a;
    color: #faf9f4;
    text-align: center;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}