@charset="UTF-8";

@import url("default.css");

header {
    position: relative;
    height: 600px;
}

header h1 {
    position: absolute;
    z-index: 5;
    top: 250px;
    width: 100%;
    height: 100px;
    text-align: center;
    padding: 0;
    margin: 0;
    font: 4em Fenix;
    color: white;
    line-height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
}

.location {
    position: absolute;
    padding: 1em;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    color: white;
}

.slide-asahi {
    background: url("../img/top-asahi.png");
}

.slide-joshuhotaka {
    background: url("../img/top-joshuhotaka.png");
}

.slide-southern_alpus {
    background: url("../img/top-southern_alpus.png");
}

.slide-kuzuha {
    background: url("../img/top-kuzuha.png");
}

.twitter-timeline {
    display: block;
    margin: 0 auto;
}