body {
    background-color: slategray;
}

img {
    margin: 10px auto;
}

p {
    text-indent: 1em;
}

hr {
    border: 0;
    height: 1px;
    background-color: #3D4015;
}

a {
    color: slategray;
    text-decoration: none;
}

td,th {
    border: 2px #3D4015 solid;
    padding-left: 3px;
    padding-right: 3px;
}

a:hover {
    text-decoration: underline;
}

#wrap {
    width: 805px;
    margin: 0 auto;
    margin-top: 30px;
}

#top {
    background: white;
}

#nav {
}

#info {
    padding: 15px;
    background: white;
}


#foot {
}

#mainpic {
    width: 805px;
    margin: 0;
}

#menu {
    width: 805px;
    height: 32px;
    padding: 0;
    margin: 0;
    background: white;
    list-style-type: none;
}

#submenu {
    width: 805px;
    height: 32px;
    padding: 0;
    margin: 0;
    background: white;
    list-style-type: none;
}

#menu li {
    width: 115px;
    float: left;
    padding: 0;
    margin: 0;
    text-align: center;
}

#submenu li {
    width: 25%;
    float: left;
    padding: 0;
    margin: 0;
    text-align: center;
}

a.menu {
    width: auto;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 0;
    text-decoration: none;
    display: block;
    background: darkslategray;
}

a.here {
    width: auto;
    color: black;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 0;
    text-decoration: none;
    display: block;
    background: gainsboro;
}

a.menu:hover {
    color: black;
    background: gainsboro;
}

a.here:hover {
    color: black;
    background: gainsboro;
}

a.submenu {
    width: auto;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 0;
    text-decoration: none;
    display: block;
    background: darkslategray;
}

a.subhere {
    width: auto;
    color: black;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 0;
    text-decoration: none;
    display: block;
    background: gainsboro;
}

a.submenu:hover {
    background: gainsboro;
    color: black;
}

a.subhere:hover {
    background: gainsboro;
    color: black;
}

.member {
    border-collapse: collapse;
    margin-top: 10px;
}

.list {
    border-collapse: collapse;
    margin: 0 auto;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}