@charset="UTF-8";

header {
    background: #d3d3d3 url("img/top-header.png") no-repeat local top;
    height: 600px;
}

header h1 {
    height: 100px;
    line-height: 100px;
    margin: 250px auto 250px;
    font-size: 4em;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
